<main>
    <p>Gulp, Browserify, Jquery, Bootstrap, Handlebars, Sass, Font Awesome, flat-ui are part of this setup. :)</p>
    {{> submenu}}

    <button class="btn btn-hg btn-primary">Huge Button</button>
    <button class="btn btn-wide btn-primary mrm">Save</button>
    <button class="btn btn-wide btn-default">Cancel</button>

    <label class="checkbox" for="checkbox1">
        <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />
        Checkbox
    </label>
    <label class="checkbox" for="checkbox2">
        <input type="checkbox" value="" id="checkbox2" checked="checked" data-toggle="checkbox" />
        Checkbox
    </label>
    <label class="checkbox" for="checkbox3">
        <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" disabled="" />
        Checkbox
    </label>
    <label class="checkbox" for="checkbox4">
        <input type="checkbox" value="" id="checkbox4" checked="checked" data-toggle="checkbox" disabled="" />
        Checkbox
    </label>

    <label class="radio">
        <input type="radio" name="group1" value="1" data-toggle="radio">
        Radio is off
    </label>
    <label class="radio">
        <input type="radio" name="group1" value="2" data-toggle="radio" checked>
        Radio is on
    </label>
    <label class="radio">
        <input type="radio" name="group2" value="1" data-toggle="radio" disabled>
        Radio is off
    </label>
    <label class="radio">
        <input type="radio" name="group2" value="2" data-toggle="radio" disabled checked>
        Radio is on
    </label>

    <div class="row inlineBlock">
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></button>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu dropdown-inverse">
                    <li><a href="#fakelink">Sub Menu Element</a></li>
                    <li><a href="#fakelink">Sub Menu Element</a></li>
                    <li><a href="#fakelink">Sub Menu Element</a></li>
                </ul>
            </div>
        </div>
    </div>

    <select name="info" class="mbn inlineBlock">
        <optgroup label="Profile">
            <option value="0">My Profile</option>
            <option value="1">My Friends</option>
        </optgroup>
        <optgroup label="System">
            <option value="2">Messages</option>
            <option value="3">My Settings</option>
            <option value="4" class="highlighted">Logout</option>
        </optgroup>
    </select>

    <div class="row">
        <div class="col-lg-5">
            <input type="text" value="" placeholder="Enter something" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-5">
            <input type="text" value="" placeholder="Enter something" class="form-control flat" />
        </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
          <input type="text" value="" placeholder="Huge" class="form-control input-hg" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-5">
          <input type="text" value="" placeholder="Large" class="form-control input-lg" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-5">
          <input type="text" value="" placeholder="Default" class="form-control" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-5">
          <input type="text" value="" placeholder="Small" class="form-control input-sm" />
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group has-error">
              <input class="form-control" type="text" placeholder="Error" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group has-warning">
              <input class="form-control" type="text" placeholder="Warning" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group has-success">
              <input class="form-control" type="text" placeholder="Success" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Disabled" disabled />
            </div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous">
            <a href="#fakelink">
                <i class="fui-arrow-left"></i>
                <span>All messages</span>
            </a>
        </li>
        <li class="next">
            <a href="#fakelink">
                <i class="fui-arrow-right"></i>
            </a>
        </li>
    </ul>

    <div class="pagination">
        <ul>
            <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
            <li class="active"><a href="#fakelink">1</a></li>
            <li><a href="#fakelink">2</a></li>
            <li><a href="#fakelink">3</a></li>
            <li><a href="#fakelink">4</a></li>
            <li><a href="#fakelink">5</a></li>
            <li><a href="#fakelink">6</a></li>
            <li><a href="#fakelink">7</a></li>
            <li><a href="#fakelink">8</a></li>
            <li><a href="#fakelink">9</a></li>
            <li><a href="#fakelink">10</a></li>
            <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
        </ul>
    </div>

    <div class="progress">
        <div class="progress-bar" style="width: 45%;"></div>
    </div>
    <div class="progress">
        <div class="progress-bar" style="width: 40%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-success" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-info" style="width: 10%;"></div>
    </div>

    <select name="huge" class="select-block mbl inlineBlock">
        <optgroup label="Profile">
            <option value="0">My Profile</option>
            <option value="1">My Friends</option>
        </optgroup>
        <optgroup label="System">
            <option value="2">Messages</option>
            <option value="3">My Settings</option>
            <option value="4" class="highlighted">Logout</option>
        </optgroup>
    </select>

    <select multiple="multiple" name="huge" class="select-block mbl inlineBlock">
        <option value="0">1</option>
        <option value="1" selected>2</option>
        <option value="2" selected>3</option>
        <option value="3" selected>4</option>
        <option value="4">5</option>
    </select>

    <span class="mrl">
      <input type="checkbox" checked data-toggle="switch" />
    </span>
    <input type="checkbox" data-toggle="switch" />

    <hr/>

    <div class="switch switch-square mrl"
         data-on-label="<i class='fui-check'></i>"
         data-off-label="<i class='fui-cross'></i>">
         <input type="checkbox" />
    </div>

    <div class="switch switch-square"
         data-on-label="<i class='fui-check'></i>"
         data-off-label="<i class='fui-cross'></i>">
         <input type="checkbox" checked />
    </div>

    <div style="width: 40%; padding-left: 10px; height: 60px;">
        <div class="demo-tooltips">
            <p data-toggle="tooltip" title="Here is a sample of a long dark tooltip. Hell yeah."></p>
        </div>
    </div> <!-- /tooltips -->

    

</main>
